/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  margin-left: auto;
}
.btn-container {
  display: flex;
  margin-right: auto;
  width: 30%;
}
.order-total-heading {
  color: #616e7c;
  font-size: large;
  margin-left: auto;
}

.order-value {
  color: #171f46;
  font-size: larger;
}
.items-count {
  color: #616e7c;
  font-size: medium;
  font-weight: 600;
  margin-left: auto;
}
.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  cursor: pointer;
  border-width: 0px;

  font-size: medium;
  font-weight: 500;
  height: 35px;
  min-width: 150px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .cart-summary-container {
    width: 100%;
  }
  .checkout-btn {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
}
